.dropdown-menu>li>a{
	color: black !important;
}

@media screen and (min-width: 1170px){
    .nav>li>a:hover{
        font-size: 20px;
        -webkit-transition: all 500ms;
        transition: 500ms;
        text-shadow: 2px 2px 0px black;
    }

    .nav>li>a{
        -webkit-transition: all 500ms;
        transition: 500ms;
        text-shadow: 1px 1px 1px black;
    }
}

.page-heading>h1{
    text-shadow: 2px 2px 0px black;
}

.page-heading>span{
    text-shadow: 1px 1px 0px black;
}