{% if page.banner %}
<header class="intro-header" style="background-image: url('{{relative}}{{page.banner}}')">
{% else %}
<header class="intro-header" style="background-image: url('{{relative}}img/CMP2.jpg')">
{% endif %}

    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>{{ site.title }}</h1>
                    <hr class="small">
                    <span class="subheading">The website all ISMIN must use !</span>
                </div>
            </div>
        </div>
    </div>

</header>
